<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>H5 PAGE</title>
</head>

<h1>H5 page demo</h1>
<!--html基础 h1 h2 h3-->
<h2>This is h2</h2>
<h3>This is h3</h3>
<!--p段落-->
<p>HTML 段落是通过标签 p 来定义的。</p>
<!--url  使用 target 属性，你可以定义被链接的文档在何处显示-->
<a href="https://www.baidu.com" target="_blank">This is a url</a>
<!--img  alt 属性用来为图像定义一串预备的可替换的文本-->
<br>
<img src="src/main/resources/images/spring.jpeg" style="height:100px;width: 170px" alt="Picture">

<!--html表格 table-->
<table border="1" align="center">
    <tr>
        <th>name</th>
        <th>age</th>
    </tr>
    <tr>
        <td>Mike</td>
        <td>23</td>
    </tr>
    <tr>
        <td>Jack</td>
        <td>25</td>
    </tr>
</table>

<!--html 列表 ul无序列表  ol有序列表-->
<ul>
    <li>Coffee</li>
    <li>Milk</li>
</ul>
<ol>
    <li>Coffee</li>
    <li>Milk</li>
</ol>

<button onclick="window.location.href='second.html'">去下一页</button>

</body>
</html>
