<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Second Page</title>
</head>
<body>

<!--H5 布局-->

<div id="container" style="width:100%">
    <div id="header" style="background-color: cadetblue">
        <h1 style="margin-bottom: 0;" align="center">DIV布局</h1>
    </div>
    <div id="menu" style="background-color: cornflowerblue; width: 150px; height: 300px; float: left">
        <ul id="menuul" style="list-style: none;padding-left: 0">
            <li style="text-align: center; color: brown">HTML</li>
            <li style="text-align: center; color: brown">CSS</li>
            <li style="text-align: center; color: brown">JavaScript</li>
            <li style="text-align: center; color: brown">SQL</li>
            <li style="text-align: center; color: brown">Java</li>
        </ul>

    </div>

    <div id="content" style="background-color: aquamarine; height: 300px; width: auto">
        内容
    </div>
    <div id="footer" style="background-color: darkcyan; height: 30px;width: 100%; text-align: center;">
        Copyright @ qiqwjqshjkqw
    </div>


    <table style="width: 100%" border="0">
        <tr>
            <td colspan="2" style="background-color: darkcyan">
                <h1 style="margin-bottom: 0;" align="center">table</h1>
            </td>
        </tr>

        <tr>
            <td style="background-color: cornflowerblue; height: 300px;">
                <ul id="menut" style="list-style: none;padding-left: 0;">
                    <li style="text-align: center; color: brown;">HTML</li>
                    <li style="text-align: center; color: brown;">CSS</li>
                    <li style="text-align: center; color: brown;">JavaScript</li>
                    <li style="text-align: center; color: brown;">SQL</li>
                    <li style="text-align: center; color: brown;">Java</li>
                </ul>
            </td>
            <td style="background-color: aquamarine; height: 300px;width: 100%">
                内容
            </td>
        </tr>

        <tr>
            <td colspan="2" style="background-color: darkcyan;height: 30px; width: 100%; text-align: center">
                Copyright @ qiqwjqshjkqw
            </td>
        </tr>
    </table>
</div>

<button onclick="window.location.href='Form.html'">表单</button>

</body>
</html>
